.div {
    display: flex;
    flex-direction: column;
    color: white;
    padding-bottom: 80px;
}

.img {
    border-radius: 50px;
    width: 500px;
}

.title {
    color: rgb(255, 181, 43);
    /* font-family: cursive; */
}

.health {
    color: rgb(0, 198, 37);
    /* font-family: cursive; */
}

.notFound {
    color: red;
    /* font-family: cursive; */
}

.area {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-left: 300px;
    margin-right: 300px;
}

.btn {
    height: 60px;
    width: 170px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    /* font-family: cursive; */
    font-weight: bold;
    font-size: 20px;
}

.btn:hover {
    background-color: rgb(80, 80, 80);
    color: white;
    height: 60px;
    width: 190px;
    transition: 0.2s;
    font-size: 30px;
}


