.btnYfilt {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

hr {
    border-color: rgba(255, 255, 255, 0.532);
}

.recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 220px;
}

.actual {
    color: white;
    /* font-family:cursive; */
}

.btn {
    height: 25px;
    width: 80px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    /* font-family:cursive; */
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(80, 80, 80);
    color: white;
    height: 25px;
    width: 80px;
    transition: 0.2s;
}

.box select {
    background-color: white;
    color: black;
    border: none;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    /* font-family:cursive; */
}

.box select:hover {
    color: white;
    background-color: rgb(80, 80, 80);
    transition: 0.5s;
}

.text {
    font-size: 18px;
    font-weight: 500;
}

.pag {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ref {
    display: flex;
    justify-content: center;
}

.star {
    width: 20px;
    background-color: none;
    margin-left: 50px;
    margin-right: 50px;
}

.starRef {
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    /* font-family:cursive; */
}

.pub {
    color: rgba(255, 181, 43, 0.616);
    font-family: cursive;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-right: 50px;
    margin-top: -20px;
}

.pub2 {
    color: rgba(255, 181, 43, 0.616);
    font-family: cursive;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-right: 50px;
    margin-top: -75px;
}

.load {
    color: white;
    padding: 100px;
    /* font-family:cursive; */
}


@media screen and (max-width: 800px) {
    .btn {
        height: 20px;
        width: 70px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        color: black;
        /* font-family:cursive; */
        font-weight: bold;
        font-size: 11px;
    }

    .btn:hover {
        background-color: rgb(80, 80, 80);
        color: white;
        transition: 0.2s;
        height: 20px;
        width: 70px;
    }

    .box select {
        background-color: white;
        color: black;
        border: none;
        font-size: 12px;
        outline: none;
        border-radius: 3px;
    }

    .box select:hover {
        color: white;
        background-color: rgb(80, 80, 80);
        transition: 0.5s;
    }

    .pub {
        display: none;
    }

    .pub2 {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .btn {
        height: 20px;
        width: 60px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        color: black;
        /* font-family:cursive; */
        font-weight: bold;
        font-size: 9px;
    }

    .btn:hover {
        background-color: rgb(80, 80, 80);
        color: white;
        transition: 0.2s;
        height: 20px;
        width: 60px;
    }

    .box select {
        background-color: white;
        color: black;
        border: none;
        font-size: 10px;
        outline: none;
        border-radius: 2px;
    }

    .box select:hover {
        color: white;
        background-color: rgb(80, 80, 80);
        transition: 0.5s;
    }

    .actual {
        font-size: 12px;
        /* font-family:cursive; */
    }

}

@media screen and (max-width: 500px) {
    .btn {
        height: 18px;
        width: 48px;
        border-radius: 8px;
        background-color: rgb(255, 255, 255);
        color: black;
        /* font-family:cursive; */
        font-weight: bold;
        font-size: 7px;
    }

    .btn:hover {
        background-color: rgb(80, 80, 80);
        color: white;
        transition: 0.2s;
        height: 18px;
        width: 48px;
    }

    .box select {
        background-color: white;
        color: black;
        border: none;
        font-size: 9px;
        outline: none;
        border-radius: 2px;
    }

    .box select:hover {
        color: white;
        background-color: rgb(80, 80, 80);
        transition: 0.5s;
    }

    .btnYfilt {
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        color: white;
    }
}

@media screen and (max-width: 400px) {
    .btn {
        height: 15px;
        width: 40px;
        border-radius: 8px;
        background-color: rgb(255, 255, 255);
        color: black;
        /* font-family:cursive; */
        font-weight: bold;
        font-size: 6px;
    }

    .btn:hover {
        background-color: rgb(80, 80, 80);
        color: white;
        transition: 0.2s;
        height: 15px;
        width: 40px;
    }

    .box select {
        background-color: white;
        color: black;
        border: none;
        font-size: 7px;
        outline: none;
        border-radius: 2px;
    }

    .box select:hover {
        color: white;
        background-color: rgb(80, 80, 80);
        transition: 0.5s;
    }

    .btnYfilt {
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        color: white;
    }
}