.general {
    display: flex;
    justify-content: center;
    color: white;
}

.ul {
    display: flex;
    flex-direction: row;
}

.list {
    list-style-type: none;
}

.btn {
    color: white;
    border: none;
    background-color: black;
    font-size: 20px;
    margin: 5px;
    border-radius: 3px;
}

.btn:hover {
    background-color: rgb(255, 255, 255);
    color: black
}

.bn {
    color: white;
    border: none;
    background-color: black;
    font-size: 20px;
    margin-left: 30px;
    width: 40px;
    height: 40px;
    margin-top: 15px;
}

.bn:hover {
    background-color: rgb(255, 255, 255);
    color: black
}

.bn:disabled {
    color: red;
}

@media screen and (max-width: 600px) {
    .btn {
        color: white;
        border: none;
        background-color: black;
        font-size: 15px;
        margin: 2px;
        border-radius: 1px;
    }
    .bn {
        color: white;
        border: none;
        background-color: black;
        font-size: 15px;
        margin-left: 20px;
        margin-right: -20px;
        width: 30px;
        height: 30px;
        margin-top: 12px;
    }
}

@media screen and (max-width: 420px) {
    .btn {
        color: white;
        border: none;
        background-color: black;
        font-size: 10px;
        margin: 1px;
        border-radius: 1px;
    }
    .bn {
        color: white;
        border: none;
        background-color: black;
        font-size: 10px;
        margin-left: 10px;
        margin-right: -30px;
        width: 20px;
        height: 20px;
        margin-top: 18px;
    }
}